<link href="profile_card.css" type="text/css" rel="stylesheet" />

<figure class="snip1359">
  <figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="profile" />
    <blockquote>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </blockquote>
  </figcaption>
  <h3>Hans Down<span>Engineer</span></h3>
</figure>
<figure class="snip1359 hover">
  <figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample7" class="profile" />
    <blockquote>Calvin: I'm a genius, but I'm a misunderstood genius. Hobbes: What's misunderstood about you? Calvin: Nobody thinks I'm a genius.</blockquote>
  </figcaption>
  <h3>Wisteria Widget<span>Photographer</span></h3>
</figure>
<figure class="snip1359">
  <figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample9.jpg" alt="profile-sample9" class="profile" />
    <blockquote>Sorry to say but if you want to stay dad you've got to polish your image. I think the image we need to create for you is "repentant but learning".</blockquote>
  </figcaption>
  <h3>Desmond Eagle<span>Accountant</span></h3>
</figure>
