<link href="profile_card_a.css" type="text/css" rel="stylesheet" />



<figure class="snip1232">
  <div class="author">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample7.jpg" alt="sq-sample7"/>
    <h5>Pelican Steve</h5><span>LittleSnippets</span>
  </div>
  <blockquote>Calvin: Sometimes when I'm talking, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
</figure>
<figure class="snip1232 hover">
  <div class="author">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample10.jpg" alt="sq-sample10"/>
    <h5>Max Conversion</h5><span>LittleSnippets</span>
  </div>
  <blockquote>Thank you. before I begin, I'd like everyone to notice that my report is in a professional, clear plastic binder...When a report looks this good, you know it'll get an A. That's a tip kids. Write it down.</blockquote>
</figure>
<figure class="snip1232">
  <div class="author">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample12.jpg" alt="sq-sample12"/>
    <h5>Eleanor Faint</h5><span>LittleSnippets</span>
  </div>
  <blockquote>My behaviour is addictive functioning in a disease process of toxic co-dependency. I need holistic healing and wellness before I'll accept any responsibility for my actions.</blockquote>
</figure>
