.uform{ padding: 12px; }

.uform .hide{overflow:hidden; background: #242424; display:block;}

.uform input{display:block; background:#121212; height:45px; padding-right:6px; position:relative; left:-85px;}
