


.uk-card
{
	background: #121212;
	color:#bbb;
	font-family: Yantramanav;

}

.uk-card a
{
	color: #dd6;
	border-bottom: 2px dashed #121212;
}



.uk-card a:hover
{
	color: #ee4;
	border-bottom: 2px dashed #ee6;
}


.uk-card-header
{

	border-bottom: 1px dashed #222;
}

.uk-card-header h3
{
	color: #ddd;
}
